.Header {
    background-color: $gray-lightest;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    &-title {
        line-height: 0;
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: $content-max-width - 30px;

        & > img {
            width: 100%;
        }
    }
}

.Footer {
    height: $footer-height;
    line-height: $footer-height;
}

.Post {
    &-title {
        &-link {
            &:hover,
            &:active,
            &:visited {
                color: $headings-color;
            }
        }
    }
}
